version: "2.4"
services:
  client:
    restart: always
    image: "114338136/multi-client"
    mem_limit: 128m
    hostname: client
  api:
    restart: always
    image: "114338136/multi-server"
    mem_limit: 128m
    hostname: api
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
      - PGUSER=$PGUSER
      - PGHOST=$PGHOST
      - PGDATABASE=$PGDATABASE
      - PGPASSWORD=$PGPASSWORD
      - PGPORT=$PGPORT
  worker:
    restart: always
    image: "114338136/multi-worker"
    mem_limit: 128m
    hostname: worker
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
  nginx:
    image: "114338136/multi-nginx"
    mem_limit: 128m
    hostname: nginx
    ports:
      - "80:80"

# todo - No postgres or redis ... I suspect the reason for this is because on AWS ... we will have a dedicated RDS resource
# I create these in IAM
# AWS_ACCESS_KEY
# AWS_SECRET_KEY
